# --- DEPENDENCIES ---
node_modules/

# --- BUILD ARTIFACTS ---
# Intermediate folder for assembled markdown & images
temp_md/
.pdf

# --- SECRETS ---
.env

# --- SYSTEM FILES ---
.DS_Store
Thumbs.db
*.log
*.docx
.agent/*

# --- LOCAL BUILDER ---
build_resumes.bat
dist/
